@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

// Import App Styling
@import "partials/home";

// TODO separate media queries into different compiled stylesheets.
// This is done to make make screensize specific skrollr actions
// - import base stylesheets
// - override base from media specific stylesheets
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}